/*_____________________ [FONTS | IMG ] ______________________*/


@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Light.ttf");
}

h1 {
    margin: 0;
}

/*_____________________ [FONTS | IMG ] ______________________*/




/*________________  [ BODY | MAIN-WRAPPER ] _________________*/


body {
    margin: 0 ;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    font-family: Roboto, sans-serif;
    color:#666666;
}

.main-wrapper {
    padding-top: 17px;
    padding-bottom: 82px;
}

/*________________  [ BODY | MAIN-WRAPPER ] _________________*/




/*________________  [ HEADER TITLE ] _________________*/

.todo-app__main-title {
    font-weight: 100;
    font-size: 100px;
    letter-spacing: -2.5px;
    color: #CCCCCC;
    text-align: center;
}

/*________________  [ HEADER TITLE ] _________________*/




/*________________  [ MAIN-CONTROL-BOARD ] _________________*/

.todo-app__frame {
    max-width: 562px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #0003;
}

.todo-app__frame::after{
    content: "";
    height: 5px;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 2px;
    right: 2px;
    box-shadow: 0 2px 4px #0003;
}

.todo-app__frame::before { 
    content: "";
    height: 5px;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 4px;
    right: 4px;
    box-shadow: 0 2px 4px #0003;
}


.todo-app__main-controls {
    display: flex;
    align-items: center;
    width: 562px;
    height: 65px;
    background: #FFFFFF;
    border-bottom: 1px solid #0003;
}

.todo-app__main__selection-btn {
    text-align: center;
    width: 64px;
    height: 66px;
}

.selection-btn {
    background-color: white;
    background-image: url("images/select-all.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    border: 0px solid #E6E6E6;
    cursor: pointer;
    width: 62px;
    height: 66px;
}

.todo-app__main__create-new-input {
    height: 64px;
    width: 496px;
}

.todo-app__main__create-new-input > input {
    width: 498px;
    height: 100%;
    padding: 0px;
    font-size: 24px;
    border: none;
}

.todo-app__main__create-new-input > input::placeholder {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 64px;
}

/*________________  [ MAIN-CONTROL-BOARD ] _________________*/




/*________________  [ TASKS | CONTENT ] _________________*/

.todo-app__tasks {
    width: 562px;
    min-height: 296px;
    background: #FFFFFF;
}


.todo-app__tasks ul {
    list-style-type: none;
    padding-inline-start: unset;
    margin-block-start: unset;
    margin-block-end: unset;
}
  

.todo-app__task-item {
    align-items: center;
    background: #FFFFFF;
    min-width: 562px;
    font-size: 24px; 
    overflow: hidden;
    border-bottom: 1px solid #0003;
}

.task-item__view:hover > .remove-todo-btn {
    background-image: url("images/remove.svg");
}

.task-item__view:focus > .remove-todo-btn {
    background-image: url("images/remove.svg");
}

.remove-todo-btn:focus {
    background-image: url("images/remove.svg");
}

.task-item__view {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 12px 0px 12px 0px;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.todo-app__task-item:hover {
    background: #FAFAFA; 
    cursor: pointer;
}

 .task-item__status {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    margin: 0px 0 0 -25px;
} 

.task-item__status-replica {
    display: inline-block;
    margin: 0px 8px 0 16px;
    width: 40px;
    height: 40px;
    border: 1px solid #E6E6E6;
    background-color: #FFFFFF;
    border-radius: 50%;
    flex-shrink: 0;
}

 
/* ОБРАБОТКА КНОПКИ */
.task-item__status:checked + .task-item__status-replica {
    border: 1px solid #5DC2AF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-image: url("../Style/images/completed.png");
}

.task-item__status:focus + .task-item__status-replica {
    border: 1px solid #5dc2af;
}

.task-item__status:checked ~ .task-item__text {
    text-decoration: line-through;
}

.task-item__text {
    text-overflow: ellipsis;
    flex: auto;
    overflow: hidden;
}

.remove-todo-btn {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    margin-right: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

/*________________  [ TASKS | CONTENT ] _________________*/




/*________________  [ FOOTER ] _________________*/

.todo-app__control-board {
    display: flex;
    background: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #0003;
}

.control-board__cnt-todos {
    display: inline-block;
    color: #888888;
    font-size: 14px;
}
 
.control-board__values-sorting {
    display: flex;
}

.filter-choice {
    display: flex;
    align-items: center;
    margin: 4px;
}

.filter-choice__input{
    background-color: #0000;
    width: 0px;
}

.filter-choice__input:checked + .display-choice__replica {
    border: 1px solid black;
}

.filter-choice__input:focus + .display-choice__replica {
    border: 1px solid blue;
}

.display-choice__replica {
    border: 1px solid #0000;
    border-radius: 3px;
    margin: -10px 0;
    padding: 4px;
    display: inline-block;
}

.control-board__clear-todos {
    display: inline-block;
}

.clear-todos__todo-btn {
    cursor: pointer;
    background: #FFFFFF;
    color: #888888;
    border: none;
    margin: -8px 0;
    padding: 10px;
    font-size: 14px;
}
/*________________  [ FOOTER ] _________________*/
